<!-- Head -->
<%- include('partials/head.ejs') %>

<!-- Stylesheet -->

<body>
    <!-- Main Headings -->
    <h1>GameQuest Tracker</h1>
    <h2 id="gameName"></h2>

    <!-- Image -->

    <!-- Description -->

    <!-- Release Date -->

    <!-- Ratings -->

    <!-- Developers -->

    <!-- Genres -->

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>

    <!-- Scripts -->
</body>
</html>
