<!-- Head -->
<%- include('partials/head.ejs') %>

<link rel="stylesheet" href="/css/loginStyles.css">

<body>
    <h1>GameQuest Tracker</h1>
    <h2>Please Login</h2>
    

    <!-- Login Message -->
    <% if (typeof loginMessage !== 'undefined') { %>
        <br>
        <span id="loginError" class="red">
            <%= loginMessage %>
        </span>
        <br>
    <% } %>

    <div class="login-box">

        <form method="POST" action="/login">
            <label>Username:</label>
            <input type="text" name="username">
    
            <label>Password:</label>
            <input type="password" name="password">
    
            <button>Login</button>
        </form>
    
        <form action="/signup">
            <button>Sign Up</button>
        </form>
    
    </div>

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
</body>