/* make footer stick to bottom */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: #1e1e2b;
  color: #f5f5f5;
  font-family: 'Trebuchet MS', Arial;
}

/* main grows to fill page */
main {
  flex: 1;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}


/* footer styling */
footer {
  text-align: center;
  padding: 20px 0;
  max-width: 1100px;
  margin: 0 auto;
}

footer hr {
  width: 100vw;
  margin: 20px 0;
  border: none;
  border-top: 1px solid #555;
  transform: translateX(calc(-50vw + 50%));
}
